{{ define "refund_book"}}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {{template "header"}}

        <main role="main" class="inner cover">

            <body>
                {{range . }}
                        <h1>{{.Surname}} вернул(а) книгу "{{.BookName}}" библиотеке. Пеня составила {{.Penny}}</h1>
                {{end}}
            </body>
        </main>
        <div class="alert alert-danger">
            <a href="/give" class="btn btn-danger">Взять новую</a>
        </div>
        {{template "footer"}}

{{ end }}